
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No se encontraron resultados</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">No se encontraron resultados</h1>
        <p>No se encontraron resultados para el correo electrónico proporcionado.</p>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Regresar al inicio</a>
    </div>
</body>

</html>
